$habbit-blue: #141b39;
$habbit-blue-hover: #1e255c;

.habbit-blue {
    background-color: $habbit-blue;
}

h3 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h3 {
  color: $habbit-blue;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-indicators {
    li {
        text-indent: 0;
        margin: 0 6px;
        width: 10px;
        height: 10px;
        border: none;
        border-radius: 100%;
        line-height: 10px;
        color: #fff;
        background-color: #999;
        transition: all 0.25s ease;
        cursor: pointer;
    &.active, &:hover {
            margin: 0 6px;
            width: 10px;
            height: 10px;
            background-color: #ffffff;
        }
    }
}